*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

html,body{
    width: 100%;
    height: 100%;
   
}



#page1{
    width: 100%;
    height: 100%;
    background-color:black;
   
}


#page2{
    width: 100%;
    height: 100%;
    background-color: rgb(103, 123, 206);
    overflow: hidden;
   
}

#page2 h1{
    font-size: 42vw;
    font-weight: 600;
}



#page3{
    width: 100%;
    height: 100%;
    background-color:black;
}

